<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet" href="templates/home.css">
    </head>
        <body bgcolor="#adffff">
            <form action="login" method="POST">
                <h1>Home page</h1><br><br>
                <div class="loginBtn">
                    <a href="login_page/login">Login</a>
                </div><br><br>
                <div class="registrationBtn">
                    <a type="submit" href="registration_page/registration">Sign up</a>
                </div>

            </form>
        </body>
</html>
